* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 5rem 2rem;
    background-color: #255EE9;
}


/*.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-image: url(../img/logo.svg);
}*/


ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

ul.menu>li.menu-item {
    padding: 0.50em 1rem;
    font-size: 20px;
    color: white;
}

.accedi {
    border-radius: 20px;
    border: none;
    padding: 0 1em;
    font-size: 15px;
    height: 2.5em;
}

.header-intro {
    padding-top: 15rem;
    text-align: center;
    padding-bottom: 9%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


.title-intro {
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 1%;
    color: white;
    font-size: 3em;
}

.p-intro {
    padding: 1% 22%;
    line-height: 1.5em;
    font-size: 1.5em;
    color: white;
}

.mac {
    font-size: 1.6em;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

#browser {
    font-size: 1.6em;
    padding: 15px 20px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(19, 19, 19);
    color: white;
    margin-left: 10px;
}

main>section {
    padding: 6rem;
}

.section-size {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.section-size.wave {
    background-image: url(../img/wave.svg);
} */

div.column {
    padding: 2rem;
}

div.image {
    width: 50%;
}

div.text {
    width: 30%;
    padding-bottom: 4.5rem;
}

.image.one {
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    padding: 14rem 0 14rem;
}

.image.two {
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    padding: 14rem;
}

.image.three {
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    padding: 14rem;
}

.text .head {
    font-size: 3rem;
    padding: 1rem;
}

.text .par {
    font-size: 130%;
    padding: 1rem;
    line-height: 1.5em;
}

.section-centered {
    text-align: center;
}

.big-image {
    padding: 29rem 29rem 40rem;
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.centered {
    padding: 1rem;
}

h1.centered {
    font-size: 3rem;
    padding: 1rem;
}

p.centered {
    font-size: 130%;
    padding: 1rem;
    padding-left: 19rem;
    width: 84%;
    line-height: 2em;
}

.centered.below {
    background-image: url(../img/stars.svg);
    background-size: 37%;
    background-repeat: no-repeat;
    background-position: 17em;
    font-size: 2rem;
    padding-top: 5rem;
}

.mac.purple {
    color: white;
    background-color: rgb(114, 137, 218);
    padding: 10px 20px;
}

footer {
    background-color: #23272A;
    color: white;
    padding: 2rem;
}

.big-purple-text {
    width: 10%;
}

.nav-footer {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(79, 93, 140);
    padding-bottom: 1rem;
}

.ul-footer {
    list-style-type: none;
}

.ul-footer>li {
    padding: 4%;
}

.purple-text {
    color: rgb(114, 137, 218);
    font-weight: bold;
}

li.big {
    font-size: 2rem;
}

select {
    color: white;
    background-color: #23272A;
    border: none;
}

ul.footer>li:not(.purple-text) {
    font-size: 16px;
    line-height: 1.5em;
    width: 11rem;
}

i {
    padding: 0 1em 0 0;
}

.sign-up {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.registrati {
    border-radius: 20px;
    border: none;
    padding: 0 1em;
    font-size: 15px;
    height: 2.5em;
    background-color: rgb(114, 137, 218);
    color: white;
}